---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/t3anNqoJ?key=myTRELLOkey&token=myTRELLOtoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.871.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1485035502121'
      X-Trello-Index-Last-Update:
      - '10'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2ee-d851b2bd"
    body:
      encoding: UTF-8
      string: '{"id":"5883d2bb4482996b47dbe2a5","name":"testing","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/t3anNqoJ/testing","shortUrl":"https://trello.com/b/t3anNqoJ","prefs":{"permissionLevel":"public","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"","yellow":"","orange":"","red":"","purple":"","blue":"","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Sat, 21 Jan 2017 21:51:42 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5883d2bb4482996b47dbe2a5/lists?filter=open&key=myTRELLOkey&token=myTRELLOtoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.871.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1485035504516'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8f-3b826f66"
    body:
      encoding: UTF-8
      string: '[{"id":"5883d2c40c15260ae897621d","name":"test list alpha","closed":false,"idBoard":"5883d2bb4482996b47dbe2a5","pos":65535,"subscribed":false}]'
  recorded_at: Sat, 21 Jan 2017 21:51:44 GMT
recorded_with: VCR 3.0.3
