---
http_interactions:
- request:
    method: get
    uri: https://api.trello.com/1/boards/t3anNqoJ?key=myTRELLOkey&token=myTRELLOtoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.890.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1487438824494'
      X-Trello-Index-Last-Update:
      - '27'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30d-57bcd8"
    body:
      encoding: UTF-8
      string: '{"id":"5883d2bb4482996b47dbe2a5","name":"testing","desc":"","descData":null,"closed":false,"idOrganization":null,"pinned":false,"url":"https://trello.com/b/t3anNqoJ/testing","shortUrl":"https://trello.com/b/t3anNqoJ","prefs":{"permissionLevel":"private","voting":"disabled","comments":"members","invitations":"members","selfJoin":false,"cardCovers":true,"cardAging":"regular","calendarFeedEnabled":false,"background":"blue","backgroundImage":null,"backgroundImageScaled":null,"backgroundTile":false,"backgroundBrightness":"dark","backgroundColor":"#0079BF","canBePublic":true,"canBeOrg":true,"canBePrivate":true,"canInvite":true},"labelNames":{"green":"green","yellow":"yellow","orange":"orange","red":"red","purple":"purple","blue":"blue","sky":"","lime":"","pink":"","black":""}}'
  recorded_at: Sat, 18 Feb 2017 17:27:03 GMT
- request:
    method: get
    uri: https://api.trello.com/1/boards/5883d2bb4482996b47dbe2a5/labels?key=myTRELLOkey&limit=1000&token=myTRELLOtoken
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Trello-Version:
      - 1.890.0
      X-Trello-Environment:
      - Production
      X-Server-Time:
      - '1487438824696'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29b-930cd41c"
    body:
      encoding: UTF-8
      string: '[{"id":"5883d2bbced82109ffe0ba83","idBoard":"5883d2bb4482996b47dbe2a5","name":"yellow","color":"yellow","uses":1},{"id":"5883d2bbced82109ffe0ba84","idBoard":"5883d2bb4482996b47dbe2a5","name":"green","color":"green","uses":1},{"id":"5883d2bbced82109ffe0ba86","idBoard":"5883d2bb4482996b47dbe2a5","name":"red","color":"red","uses":1},{"id":"5883d2bbced82109ffe0ba85","idBoard":"5883d2bb4482996b47dbe2a5","name":"orange","color":"orange","uses":0},{"id":"5883d2bbced82109ffe0ba87","idBoard":"5883d2bb4482996b47dbe2a5","name":"blue","color":"blue","uses":0},{"id":"5883d2bbced82109ffe0ba88","idBoard":"5883d2bb4482996b47dbe2a5","name":"purple","color":"purple","uses":0}]'
  recorded_at: Sat, 18 Feb 2017 17:27:03 GMT
recorded_with: VCR 3.0.3
